<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Fill the form</h1>
    <div id="form_containe">
        <form action="/register" method="post">
            <h3>Registration Form</h3>
            <input type="text" placeholder="Enter Your Username" name ="username"> <br>
            <input type="text" placeholder="Enter YOur name" name="email"> <br>
            <input type="Password" placeholder="Enter Your Password" name="password"> <br>
            <button type="submit"> Submit</button>
        </form>
    </div>
</body>
</html>